@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
html{
  font-size: 12px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  background-color: white;
  overflow-x: hidden;
}
.navbar{
  padding: 2px 8px;
  background-color: transparent;
  transition-duration: 0.3s;
}
.navbar-scrolled{
  background-color: #db4141;
  color: white;
}
.nav-link, .navbar-brand{
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.3s;
}
.link-scrolled, .brand-scrolled{
  color: white !important;
}
.link-scrolled:hover, .brand-scrolled:hover{
  color: rgb(197, 197, 197) !important;
}
.nav-link{
  color: #66666E;
  font-weight: 300;
}
.navbar-brand{
  color: #66666E;
}
.navbar-brand:hover, .nav-link:hover{
  color: #dd2727;
}
.headersGroup h1{
  font-size: 5rem;
  font-weight: 100;
  transition-duration: 0.3s;
  cursor: pointer;
}
.img{
  max-width: 150%;
  max-height: 110vh;
}
.img.img2{
  transform: translateX(-300px);
  object-position: 140px;
}
.info-section-1 h1{
  font-size: 3rem;
}
.info-section-1 p{
  font-size: 2rem;
}
@media(max-width:778px){
  .nav-link{
    color: white;
  }
  .navbar-brand{
    color: white;
  }
}
@media(max-width:767px){
  .img{
    max-width: 100%;
    height: auto;
  }
  .img.img2{
    transform: translateX(0px);
    object-position: 0px;
  }
}
@media(max-width:1200px){
  .headersGroup h1{
    font-size: 4rem;
  }
  .info-section-1 p{
    font-size: 2rem;
  }
}
@media(max-width:1000px){
  .headersGroup h1{
    font-size: 3rem;
  }
  .info-section-1 p{
    font-size: 1.5rem;
  }
}
@media(max-width:500px){
  .info-section-1 h1{
    font-size: 2.5rem;
  }  
}